
<header>
    <nav>

        <table id="tablaman">
            <td style="width: 20%">
                <a routerLink="/">Inicio</a>
            </td>
            <td style="width: 20%">
                <a routerLink="/educacion">Educación</a>
            </td>
            <td style="width: 20%">
                <a routerLink="/proyectos">Proyectos</a>
            </td>
            <td style="width: 20%">
                <a routerLink="/cursos">Cursos</a>
            </td>
            <td style="width: 20%">
                <a routerLink="/contacto">Contacto</a>
            </td>
        </table>
    </nav>

</header>
