<!doctype html>
<html lang="en">

<head>
    <title>Presentación</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <header>
        <h1 id="pag">Mi Página de Presentación </h1>
    </header>
    <main>
        <nav>
            <table id="tablaman">
                <td style="width: 25%">
                    <a href="/sobreMi">Sobre Mi</a>
                </td>
                <td style="width: 25%">
                    <a href="/proyectos">Proyectos</a>
                </td>
                <td style="width: 25%">
                    <a href="/hobContacto">Hobbies</a>
                </td>
                <td style="width: 25%">
                    <a href="/hobContacto">Contacto</a>
                </td>
            </table>
        </nav>
        
        <section class="separador">
            <h2 id="hobbies">Hobbies</h2>   
        </section>
        <section class="content">
        
            <!-- <div id="cajita"></div>-->
        
            <div class="hob">
                Tocar Guitarra / bajo
            </div>
            <div class="hob">
                Practicar natación 
            </div>
            <div class="hob">
                Jugar Juegos retro 
            </div>
            <div class="hob">
                Lectura de ciencia ficción
            </div>
            <div class="hob">
                Jugar con mi perro
            </div>
            <div class="hob">
                texto
            </div>
            

        </section>
        
        <section class="separador">
            <h2 id="contacto">Contacto: </h2>
        </section>
        <section class="content">
            <ul>
                <li>Telefono: 33-1234-5678</li>
                <li>Correo: martin.herrera@iteso.mx</li>
                <li>Instagram: @abcdefgh</li>
                <li>Twitter: @abcdefg</li>
            </ul>
        </section>
    </main>
    <footer>
        &copy; 2023 epicness
    </footer>
</body>

</html>