<!doctype html>
<html lang="en">

<head>
    <title>Presentación</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <header>
        <h1 id="pag">Mi Página de Presentación </h1>
    </header>
    <main>
        <nav>
            <table id="tablaman">
                <td style="width: 25%">
                    <a href="/sobreMi">Sobre Mi</a>
                </td>
                <td style="width: 25%">
                    <a href="/proyectos">Proyectos</a>
                </td>
                <td style="width: 25%">
                    <a href="/hobContacto">Hobbies</a>
                </td>
                <td style="width: 25%">
                    <a href="/hobContacto">Contacto</a>
                </td>
            </table>
        </nav>
        <section class="separador">
            <h2 id="sobremi">No se encontró esta página</h2>
        </section>
        
        
    </main>
    <footer>
        &copy; 2023 epicness
    </footer>
</body>

</html>