<!doctype html>
<html lang="en">

<head>
    <title>Presentación</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <header>
        <h1 id="pag">Mi Página de Presentación </h1>
    </header>
    <main>
        <nav>
            <table id="tablaman">
                <td style="width: 25%">
                    <a href="/sobreMi">Sobre Mi</a>
                </td>
                <td style="width: 25%">
                    <a href="/proyectos">Proyectos</a>
                </td>
                <td style="width: 25%">
                    <a href="/hobContacto">Hobbies</a>
                </td>
                <td style="width: 25%">
                    <a href="/hobContacto">Contacto</a>
                </td>
            </table>
        </nav>
        <section class="separador">
            <h2 id="sobremi">Sobre Mi</h2>
        </section>
        <section class="content">
            <table>
                <td>
                    <p>Soy Martín Santiago Herrera Soto</p>
                    <p>Tengo 20 años, soy estudiante de Ingeniería en Sistemas en Iteso</p>
                    <p>Mi cumpleaños es el 23 de Junio de 2002</p>
                    <p>Tengo una perrita shihtzu que se llama Tipsy</p>
                    
                </td>
                <td>
                    <img src="https://yt3.ggpht.com/rwL2nJlD__Fj232jo-pY4JZSwYBCOsGZY2PTHf526opRT4wmaVgaVComTqVEV3jrLQRwSlPGNx0=s900-c-k-c0x00ffffff-no-rj">
                </td>
            </table>
        </section>
        
    </main>
    <footer>
        &copy; 2023 epicness
    </footer>
</body>

</html>